.cards {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-grow: 50px;
}

.cards-container {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.card {
  width: 300px;
  height: 600px;
  background-color: #f4a340da;
  margin: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.card-text {
  padding: 18px 28px 28px 28px;
}

main > div > ul > li > img {
  width: 294px;
  height: 287px;
  padding: 20px 21px 20px 21px;
  // border: 2px solid #f4a340; tentativa de por borda laranja em volta da imagem.
}

main > div > ul > li > button {
  background-color: #f4a340;

  border-radius: 30px;
  border: 1px;
  width: 120px;
  height: 45px;
  margin-left: 108px;
  margin-right: 108px;
  margin-bottom: 26px;
  margin-top: 41px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  font-style: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
